;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "public/assets"
  "dev-resources"
  "portfolio"]

 :dev-http {8080 ["public" "classpath:public"]
            8081 ["dev-resources" "classpath:public"]}

 :dependencies
 [[cljs-ajax "0.8.4"]
  [reagent "1.2.0"]
  [re-com "2.13.2"]
  [metosin/reitit-frontend "0.7.0-alpha7"]
  [no.cjohansen/portfolio "2023.07.15"]]

 :builds
 {:app {:target :esm
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:init-fn nia.app/init}}
        :release {:compiler-options {:optimizations :advanced}}}
  :dev {:target :esm
        :output-dir "dev-resources/js"
        :asset-path "/js"
        :modules {:main {:init-fn nia.portfolio/init}}}}}
