[:div.w-50 
 [:p [:p.lead.d-block "Roussel's great poem was hypertext by anticipation."] 
  " Both the translation and the hypertext version aim to make the text as comprehensible as possible. Some will feel that this reduces the mystery of the work but I risk their displeasure in the belief that the mystery of the moon has not been diminished by our increased understanding of the same and so the enigma of Roussel's genius can never be reduced."]
 [:p "Not all the parentheses within parentheses within parentheses are treated as individual pages. I take the reader/surfer into the depths of the poem but once there tend to help by minimising the number of reloads. Thus shorter parenthetical ideas may sometimes appear as if on paper according to the limits of my own memory."]
 [:p [:i "[N.B. This translation was first published in Xiana2: The Printed Head, Vol. III No. 13, pp. 7-41 (London: Atlas, 1996) and is reproduced in hypertext by kind permission of the publisher."]]]