[[:p "Everything progresses: as at the moment when calling the hens,"]
 [:p "Those wise early-to-bedders in to roost,"]
 [:p "The sun sinks in the west the rich man " [:span {:class :text-danger} "(money"]]
 [:p {:class :text-danger} "Improves his position of privilege;"]
 [:p {:class :text-danger} "The elegant dunce is sure to be outstripped in a college"]
 [:p {:class :text-danger} "Whose crest through pride the elbows of the student-body"]
 [:p {:class :text-danger} "Have vigorously rubbed to to a shining finish;"]
 [:p {:class :text-danger} "To a rich suicide one gives a mass:"]
 [:p {:class :text-danger} "It is hard to die without a De Profundis);"]
 [:p "Has the wicks of his old lamps re-lit,"]
 [:p "A gesture which electric light has rendered out-of-date ;"]
 [:p "The motorcar causing the dropping of sticks,"]
 [:p "Has brought animal transport into disrepute,"]
 [:p " - Since which sparrows have had a hard time;"]
 [:p "And are those awkward catapults a patch on cannon?"]]